<!DOCTYPE html>
<html>
<head>
    <title>Lab Equipment</title>
</head>
<body>
    <h1>Welcome to Lab Equipment Management</h1>

    <h2>Available Equipments</h2>
    <ul>
        {% for eq in equipments %}
            <li>{{ eq.name }} ({{ eq.category }}) - Quantity: {{ eq.quantity }}</li>
        {% empty %}
            <li>No equipment available.</li>
        {% endfor %}
    </ul>

    <p>
        <a href="{% url 'register' %}">Register</a> |
        <a href="/admin/login/">Login</a> |
        <a href="{% url 'equipment_list' %}">View All Equipments</a>
    </p>
</body>
</html>
